In [22]:
import pandas as pd

In [23]:
df = pd.read_csv("data.csv")

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Tempo        10 non-null     object
 1   Temperatura  10 non-null     object
 2   Humidade     10 non-null     object
 3   Vento        10 non-null     object
 4   Jogar        10 non-null     object
dtypes: object(5)
memory usage: 528.0+ bytes

In [25]:
df.head()

     Tempo Temperatura Humidade  Vento Jogar
0      Sol      Quente     Alta  Fraco   Não
1      Sol      Quente     Alta  Forte   Não
2  Coberto      Quente     Alta  Fraco   Sim
3    Chuva      Normal     Alta  Fraco   Sim
4    Chuva        Frio   Normal  Fraco   Não

In [26]:
df.Tempo = df.Tempo.astype("category")
df.Temperatura = df.Temperatura.astype("category")
df.Humidade = df.Humidade.astype("category")
df.Vento = df.Vento.astype("category")

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Tempo        10 non-null     category
 1   Temperatura  10 non-null     category
 2   Humidade     10 non-null     category
 3   Vento        10 non-null     category
 4   Jogar        10 non-null     object
dtypes: category(4), object(1)
memory usage: 760.0+ bytes

In [28]:
x_train,y_train = df.drop('Jogar',axis=1),df['Jogar']

In [29]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Tempo        10 non-null     category
 1   Temperatura  10 non-null     category
 2   Humidade     10 non-null     category
 3   Vento        10 non-null     category
dtypes: category(4)
memory usage: 680.0 bytes

In [30]:
for column in x_train:
    x_train[column] = x_train[column].cat.codes

In [31]:
x_train

   Tempo  Temperatura  Humidade  Vento
0      2            2         0      1
1      2            2         0      0
2      1            2         0      1
3      0            1         0      1
4      0            0         1      1
5      0            0         1      0
6      1            0         1      0
7      2            1         0      1
8      2            0         1      1
9      0            1         1      1

In [32]:
#p = ["Chuva","Quente",'Baixa','Forte']
p = [0,2,9,0]

In [33]:
import numpy as np

In [34]:
p = np.array(p)
x_train = x_train.to_numpy()

In [35]:
np.sum(np.not_equal(p,x_train),axis=1)

array([3, 2, 3, 3, 3, 2, 3, 4, 4, 3])

In [36]:
df['dist'] = np.sum(np.not_equal(p,x_train),axis=1)

In [40]:
np.not_equal(p,x_train)

array([[ True, False,  True,  True],
       [ True, False,  True, False],
       [ True, False,  True,  True],
       [False,  True,  True,  True],
       [False,  True,  True,  True],
       [False,  True,  True, False],
       [ True,  True,  True, False],
       [ True,  True,  True,  True],
       [ True,  True,  True,  True],
       [False,  True,  True,  True]])

In [37]:
df

     Tempo Temperatura Humidade  Vento Jogar  dist
0      Sol      Quente     Alta  Fraco   Não     3
1      Sol      Quente     Alta  Forte   Não     2
2  Coberto      Quente     Alta  Fraco   Sim     3
3    Chuva      Normal     Alta  Fraco   Sim     3
4    Chuva        Frio   Normal  Fraco   Não     3
5    Chuva        Frio   Normal  Forte   Não     2
6  Coberto        Frio   Normal  Forte   Sim     3
7      Sol      Normal     Alta  Fraco   Não     4
8      Sol        Frio   Normal  Fraco   Sim     4
9    Chuva      Normal   Normal  Fraco   Sim     3

In [38]:
df.sort_values(by='dist')

     Tempo Temperatura Humidade  Vento Jogar  dist
1      Sol      Quente     Alta  Forte   Não     2
5    Chuva        Frio   Normal  Forte   Não     2
0      Sol      Quente     Alta  Fraco   Não     3
2  Coberto      Quente     Alta  Fraco   Sim     3
3    Chuva      Normal     Alta  Fraco   Sim     3
4    Chuva        Frio   Normal  Fraco   Não     3
6  Coberto        Frio   Normal  Forte   Sim     3
9    Chuva      Normal   Normal  Fraco   Sim     3
7      Sol      Normal     Alta  Fraco   Não     4
8      Sol        Frio   Normal  Fraco   Sim     4

In [39]:
#pra k=1 a resposta é não jogar
#pra k=2 a resposta também é não jogar